#footer {
    min-height: 88vh;
  }

.footer__wrapper {
    display: inline;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;              
    -webkit-box-shadow: 0rem -4rem 3rem rgba(204, 197, 197, 0.75);
    -moz-box-shadow: 0rem -4rem 3rem rgba(204, 197, 197, 0.75);
    box-shadow: 0rem -4rem 3rem rgba(204, 197, 197, 0.75);
    background-color: rgb(233, 239, 243);
      
}

.footer__flex {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;    
    width: 20%;
    
}

.footer__flex img {
    height: 8rem;
}

.footer__flex p {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--secondary-color);
    margin-bottom: 1.5rem;
}

.footer__flex h3 {
    font-size: 1.8rem;
    opacity: 0.9;
    color: var(--dark-color);
}

.footer__flex ul {
    margin-top: 2rem;
}

 
#newsletter {
    margin-top: 2rem;
}

.subscribe {
    display: flex;
    flex-direction: row;
    padding-right: 0;
    /* border: 1px solid rgb(49, 45, 45);
    border-radius: 0.5rem; */
}

.subscribe__input input[type="text"] {
    display: flex;
    flex-direction: column;
    height: 4rem;
    border-radius: .4rem;
    background-color: rgb(200, 208, 214);
    margin: 0;

}

.subscribe__button {
    display: flex;
    flex-direction: column;
    padding:0;
    border-radius: .4rem;    
}

.subscribe__button button {
    background-color: var(--primary-color);
    color: var(--light-color);
    padding: .8rem;
}

.subscribe__button button:hover {
    background: transparent;
    color: var(--dark-color);
    box-shadow: inset 0 0 0 0.2rem var(--primary-color);
}

.footer__social {
    display: flex;
    font-size: 2rem;      
}

.footer__social li {
    padding: 0 1rem 0 1rem;
    
}

.footer__social i {
    border: 1px solid var(--primary-color);
    padding: .8rem;
    border-radius: 50%;
    color: var(--primary-color);
}

input:focus { 
    outline: none !important;
    border-color: rgb(200, 208, 214);
    box-shadow: 0 0 0px rgb(200, 208, 214);
}

@media (min-width: 640px) {
    .footer__wrapper {
        display: flex;
    }

    .footer__flex {
        text-align: left;
    }
 
}

@media (min-width: 768px) {
    .footer__wrapper {
        display: flex;
    }

    .footer__flex {
        text-align: left;
    }
 
}

@media (min-width: 1024px) {
    .footer__wrapper {
        display: flex;
    }

    .footer__flex {
        text-align: left;
    }
 
}