#signup {
    min-height: 88vh;
}

.signup__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: 5rem;
    padding: 0 5rem 0 5rem;
}

.signup__wrapper--right--item img {
    display: none;
    opacity: 0.9;
    height: 80vh;
}

.signup__wrapper--left--item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;    
}

.signup__wrapper--left--item h2 {
    font-size: 5rem;
    font-weight: 700;
    color: var(--dark-color);
    margin-bottom: 2.5rem;
    line-height: 8rem;
}

.signup__wrapper--left--item p {
    color: var(--secondary-color);
    font-size: 2rem;
}

.signup__wrapper--left--item button {
    margin-top: 2rem;
    padding: 1rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    /* font-weight: bolder; */
}

#signup-640 {
    display: flex;
    height: 44vh;
}

@media (min-width: 640px) {
    .signup__wrapper--right--item img {
        display:none;
    }
}
  
@media (min-width: 768px) {
    .signup__wrapper--right--item img {
        display:block;
        height: 60vh;
    }

    #signup-640 {
        display: none;
    }

}
  
@media (min-width: 1024px) {
    .signup__wrapper--right--item img {
        display: flex;
        height: 80vh;
    }

    #signup-640 {
        display: none;
    }
}
